<%include partails/hreader%>
<body>
    <div class="big-div">
    <div class="details-div">
        <h1 class="details-h1">Product  Detail  </h1>
        <img class="full-width" src="/images/<%=product.productImage %>" alt="">
        <h2  class="product-name"> Product Name :<%= product.name%></h2>
        <p class="product-p">Product Quantity :  <%=product.quantity %></p>
        <p class="product-p">Product Category : <%= product.category%></p>
        <p class="product-p"> Product Price : ₹<%= product.price%></p>
        <p class="product-p"> likes :<%= product.like%> </p>
        <div class="product-likes">
            <a href="/products/<%=product.id%>/likes">Likes</a>
            <a href="/products/<%=product.id%>/dislikes">Dislikes</a>
        </div>

        
        
        <div class="cart">
            <a href="/products/<%=product.id%>/edit">Edit</a>
            <a href="/products/<%=product.id%>/delete">Delete</a>
            <a href="/products/<%=product.id%>/cart">Cart</a>
            <a href="">Buy Now</a>
        </div>
        
    </div>
</div>
</body>
</html>